*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background: rgb(255, 206, 206);
}
.container{
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin: 100px auto; 
    @include center();
    flex-direction: column;
    justify-content: flex-start;
    border: 10px solid lightcoral;
    background: lightcoral;
    h2{
        text-align: center;
        color: white;
        background: lightcoral;
        width: 100%;
        height: 50px;
        @include center();
    }
    .part{
        height: 70%;
        width: 100%;
        @include center();
        justify-content: space-around;
        .left{
            background: lightblue;
        }
        .right{
            background: lightpink;
        }
        div{
            height: 100%;
            width: 50%;
            @include center;
            flex-direction: column;
            gap: 10px;
            p{
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                color: rgb(54, 54, 54);
            }
            input{
                text-align: center;
                height: 30px;
                width: 130px;
                padding: 0px 10px;
                color: rgb(54, 54, 54);
                border-radius: 5px;
                border: 1px solid rgb(54, 54, 54);
                outline: none;
            }
        }
    }
    button{
        height: 40px;
        width: 180px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(54, 54, 54);
        background: rgb(104, 249, 177);
        border: none;
        outline: none;
        border-radius: 10px;
        transition: 0.1s ease-in-out;
        margin-top: 14px;
        cursor: pointer;
        &:hover{
            background: rgb(97, 222, 134);
        }
    }
}
.result{
    margin: -90px auto;
    height: 100px;
    width: 400px;
    border-radius: 10px;
    background: lightcoral;
    @include center;
    flex-direction: column;
    p{
        font-size: 25px;
        font-weight: bold;
        color: white;
    }
}